main {
    height: 50rem;
    background-color: rgb(208, 205, 202);
    position: relative;
}
main img {
    width: 55%;
    height: 44rem;
    object-fit: cover;
    position: absolute;
    left: 100px;
    top: 50px;
    z-index: 0;
}
main section {
    width: 60%;
    position: absolute;
    z-index: 1;
    right: 100px;
    top: 125px;
    
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    box-sizing: border-box;
    padding: 100px 15vw;
}
main section h1 {
    font-size: 3.5em;
    font-weight: 100;
}
main section p {
    font-size: 0.9em;
}
main section a {
    font-weight: bold;
}
main section a:hover {
    border-bottom: 1px solid var(--border-color);
}

@media screen and (max-width: 1430px) {
    main {
        height: auto;
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        padding: 15px 0;
    }
    main img {
        width: 100%;
        height: clamp(140px, 20vw, 200px);
        position: relative;
        object-position: center 30%;
        top: 0;
        left: 0;
    }
    main section {
        width: auto;
        position: relative;
        top: 0;
        right: 0;
        margin: 0 20px;
        padding: 75px 15vw;
    }
    main section h1 {
        font-size: clamp(40px, 7vw, 60px);
    }
}